<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    <title>美股财经</title>
    <meta content='' name='每日美股财经，投资，金融信息汇总。' />

    <!-- Favicons -->
    <link href='assets/img/favicon.png' rel='icon' />
    <link href='assets/img/favicon.png' rel='apple-touch-icon' />

    <!-- Google Fonts -->
    <link
      href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'
      rel='stylesheet'
    />

    <!-- Vendor CSS Files -->
    <link href='assets/vendor/aos/aos.css' rel='stylesheet' />
    <link href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet'/>
    <link href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet' />
    <link href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet' />
    <link href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet' />
    <link href='assets/vendor/remixicon/remixicon.css' rel='stylesheet' />
    <link href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet' />

    <!-- Template Main CSS File -->
    <link href='assets/css/style.css' rel='stylesheet' />

  </head>

  <body>

    <!-- ======= Header ======= -->
    <header
      id='header'
      class='fixed-top'
      style='background: rgba(21, 34, 43, 0.85)'
    >
      <div class='container d-flex align-items-center justify-content-between'>

        <a href='/' class='logo'><img
            src='assets/img/logo.png'
            alt=''
            class='img-fluid'
          /></a>

        <nav id='navbar' class='navbar'>
          <ul>
            <li><a class='nav-link scrollto' href='/'>主页</a></li>
            <li><a class='nav-link scrollto' href='/about'>关于我们</a></li>
            <li><a class='nav-link scrollto' href='/contact'>联系我们</a></li>
            <li><a class='nav-link scrollto' href='/statement'>免责声明</a></li>
          </ul>
          <i class='bi bi-list mobile-nav-toggle'></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <main id='main'>
      {{{body}}}
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id='footer'>
      <div class='footer-top'>
        <div class='container'>
          <div class='row'>

            <div class='col-lg-4 col-md-6'>
              <div class='footer-info'>
                <h3>美股财经</h3>
                <p>
                  3319 S 186th St, Omaha,
                  <br />
                  NE 68130, USA<br /><br />
                  <strong>Phone:</strong>
                  +1 402 819 8989<br />
                  <strong>Email:</strong>
                  info@MeiGuCaiJing.com<br />
                </p>
              </div>
            </div>

            <div class='col-lg-4 col-md-6'>
              <h4>Follow Us on Social Media</h4>
              <div class='footer-info'>
                <div class='social-links mt-3'>
                  <a href='#' class='twitter'><i class='bx bxl-twitter'></i></a>
                  <a href='#' class='facebook'><i
                      class='bx bxl-facebook'
                    ></i></a>
                  <a href='#' class='instagram'><i
                      class='bx bxl-instagram'
                    ></i></a>
                  <a href='#' class='google-plus'><i
                      class='bx bxl-skype'
                    ></i></a>
                  <a href='#' class='linkedin'><i
                      class='bx bxl-linkedin'
                    ></i></a>
                </div>
              </div>
            </div>

            <div class='col-lg-4 col-md-6 footer-newsletter'>
              <h4>Our Newsletter</h4>
              <p>Sign up for our newsletter for latest 美股财经 news!</p>
              <form action='' method='post'>
                <input type='email' name='email' /><input
                  type='submit'
                  value='Subscribe'
                />
              </form>
            </div>

          </div>
        </div>
      </div>

      <div class='container'>
        <div class='copyright'>
          &copy; Copyright
          <strong><span>美股财经</span></strong>. All Rights Reserved
        </div>
        <div class='credits'>
          Designed by
          <a href='/'>美股财经</a>
        </div>
      </div>
    </footer><!-- End Footer -->

    <div id='preloader'></div>
    <a
      href='#'
      class='back-to-top d-flex align-items-center justify-content-center'
    ><i class='bi bi-arrow-up-short'></i></a>

    <!-- Vendor JS Files -->
    <script src='assets/vendor/aos/aos.js'></script>
    <script src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js'></script>
    <script src='assets/vendor/glightbox/js/glightbox.min.js'></script>
    <script src='assets/vendor/isotope-layout/isotope.pkgd.min.js'></script>
    <script src='assets/vendor/swiper/swiper-bundle.min.js'></script>
    <script src='assets/vendor/email-form/validate.js'></script>

    <!-- Template Main JS File -->
    <script src='assets/js/main.js'></script>

  </body>

</html>