<section id='about-boxes' class='about-boxes' style="padding-top: 150px; min-height: 600px;">
  <div class='container' data-aos='fade-up'>

    <div class='row'>
      <h3
        style='padding-bottom:15px; text-align: center; color: white; font-weight: bold;'>关于美股财经</h3>

      <div class='col-lg-12 pt-3 pt-lg-0 content about-bg'>
        <p class='fst-italic' style='color: #eeeeee'>
          美股财经是一个拥有多年美股投资经验的专业团队。我们致力于为普通的中小投资者提供和普及美国股票和金融市场的专业知识，以期他们能够通过这些知识做出真确的投资决策，达到财务自由的最终目的。
        </p>
        <ul>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>美股财经拥有25年以上的美股投资经验。</p>
          </li>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>美股财经提供免费的美股财经内容。</p>
          </li>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>美股财经本着诚实，守信的原则和我们的粉丝共同分享我们的美股投资经验。</p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section><!-- End About Boxes Section -->
