<!-- ======= Hero Section ======= -->
<section id='hero'>
  <div class='hero-container' data-aos='fade-up' data-aos-delay='150'>
    <div
      class='col-lg-8 video-box align-self-baseline'
      style='margin-left: 50px; margin-right: 30px'
    >
      <h1>美股财经</h1>
      <h2>面对波诡云谲的美股市场，动荡不安的国际环境，变幻莫测的市场风向，翻云覆雨里的投资情绪： <span style="color: #24b44b">美股财经</span>让您慧眼独具，处变不惊，做出正确的投资判断。</h2>
    </div>
  </div>
</section><!-- End Hero -->

<!-- ======= About Boxes Section ======= -->
<section id='about-boxes' class='about-boxes'>
  <div class='container' data-aos='fade-up'>

    <div class='row'>
      <h3
        style='padding-bottom:15px; text-align: center; color: white; font-weight: bold;'>今日盘后点评</h3>

      <div
        class='col-lg-6 video-box align-self-baseline'
        data-aos='zoom-in'
        data-aos-delay='100'
      >
        <img
          src='assets/img/about.png'
          class='img-fluid'
          style='border-radius: 5px;'
        />
        <a
          href='https://www.youtube.com/watch?v=n3IGKUF_188'
          class='glightbox play-btn mb-4'
        ></a>
      </div>

      <div class='col-lg-6 pt-3 pt-lg-0 content about-bg'>
        <p class='fst-italic' style='color: #eeeeee'>
          美股财经 is a blockchain infrastructure company which operates several
          crypto mining facilities with more than 35MW power capacity in North
          America. Since 2019, 美股财经 has been holding leading positions in mining
          certain altcoins.
        </p>
        <ul>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>Strong team: driven by trusted leaders
              with extensive experience in data mining, technology, and energy.</p></li>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>Proprietary ASIC chip design to ensure
              best machine performance.</p></li>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>Self-hosting mining pool to guarantee
              maximum miner's return.</p></li>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>Manufacturer with capacity of more than
              30k altcoin miners per year.</p></li>
          <li><i class='bx bx-check-double'></i>
            <p style='color: #eeeeee'>Cutting-edge software implementation to
              secure smooth running of each miner.</p></li>
        </ul>
      </div>

    </div>

  </div>
</section><!-- End About Boxes Section -->

<!-- ======= Services Section ======= -->
<section id='services' class='services section-bg' style='padding-top: 30px'>
  <div class='container' data-aos='fade-up'>

    <div class='section-title'>
      <p style="text-align: center;">市场实时动态</p>
    </div>

    <div class='row' data-aos='fade-up' data-aos-delay='200'>
      <div class='col-md-3'>
        <div class='icon-box'>
          <img
            src='assets/img/miners.png'
            style='display: block; margin-left: auto;  margin-right: auto;  width: 20%; margin-bottom: 20px;'
          />
          <h4>100% Self-Designed Miners</h4>
          <p>Self-designed and manufactured mining machines for multiple blockchain algorithms.</p>
        </div>
      </div>
      <div class='col-md-3'>
        <div class='icon-box'>
          <img
            src='assets/img/pool.png'
            style='display: block; margin-left: auto;  margin-right: auto;  width: 20%; margin-bottom: 20px;'
          />
          <h4>100% Self-Managed Pool</h4>
          <p>Self-run, high performance mining pool.</p>
        </div>
      </div>
      <div class='col-md-3'>
        <div class='icon-box'>
          <img
            src='assets/img/operation.png'
            style='display: block; margin-left: auto;  margin-right: auto;  width: 20%; margin-bottom: 20px;'
          />
          <h4>100% Self-Owned Operation</h4>
          <p>Three wholly owned cryptocurrency mining operations in North America.</p>
        </div>
      </div>
      <div class='col-md-3'>
        <div class='icon-box'>
          <img
            src='assets/img/energy.png'
            style='display: block; margin-left: auto;  margin-right: auto;  width: 20%; margin-bottom: 20px;'
          />
          <h4>Competitive Energy Cost</h4>
          <p>Powered by comperatively price and reliable energy.</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
