<section id='about-boxes' class='about-boxes' style="padding-top: 150px; min-height: 600px;">
  <div class='container' data-aos='fade-up'>

    <div class='row'>
      <h3
        style='padding-bottom:15px; text-align: center; color: white; font-weight: bold;'>免责声明</h3>

      <div class='col-lg-12 pt-3 pt-lg-0 content about-bg'>
        <p class='fst-italic' style='color: #eeeeee; font-size: 24px'>
          美股财经提供的内容和观点只是我们的投资感悟，不能作为任何个人或者机构的投资建议。
        </p>
         <p class='fst-italic' style='color: #eeeeee; font-size: 24px'>
          股市有风险，投资需谨慎！
        </p>
      </div>

    </div>

  </div>
</section><!-- End About Boxes Section -->
