<!-- ======= Team Section ======= -->
<section id='team' class='team section-bg' style='padding-top: 120px'>
  <div class='container'>

    <div class='section-title'>
      <p>Check Our Team</p>
    </div>

    <div class='row'>

      <div class='col-lg-4 col-md-6'>
        <div class='member' data-aos='fade-up' data-aos-delay='100'>
          <div class='pic'><img
              src='assets/img/team/oisin-3.jpg'
              class='img-fluid'
              alt=''
            /></div>
          <div class='member-info'>
            <h4>Oisin Lee</h4>
            <span>Founder and the Board Chairman </span>
            <div class='social'>
              <a href=''><i class='bi bi-twitter'></i></a>
              <a href=''><i class='bi bi-facebook'></i></a>
              <a href=''><i class='bi bi-instagram'></i></a>
              <a href=''><i class='bi bi-linkedin'></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class='col-lg-4 col-md-6' data-aos='fade-up' data-aos-delay='200'>
        <div class='member'>
          <div class='pic'><img
              src='assets/img/team/team-2.jpg'
              class='img-fluid'
              alt=''
            /></div>
          <div class='member-info'>
            <h4>Allen Wu</h4>
            <span>Chief Executive Officer and Co-Founder</span>
            <div class='social'>
              <a href=''><i class='bi bi-twitter'></i></a>
              <a href=''><i class='bi bi-facebook'></i></a>
              <a href=''><i class='bi bi-instagram'></i></a>
              <a href=''><i class='bi bi-linkedin'></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class='col-lg-4 col-md-6' data-aos='fade-up' data-aos-delay='300'>
        <div class='member'>
          <div class='pic'><img
              src='assets/img/team/team-3.jpg'
              class='img-fluid'
              alt=''
            /></div>
          <div class='member-info'>
            <h4>Reno Wang</h4>
            <span>Reno's Job Title</span>
            <div class='social'>
              <a href=''><i class='bi bi-twitter'></i></a>
              <a href=''><i class='bi bi-facebook'></i></a>
              <a href=''><i class='bi bi-instagram'></i></a>
              <a href=''><i class='bi bi-linkedin'></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

<!-- ======= Testimonials Section ======= -->
<section id='testimonials' class='testimonials' style='height: 505px;'>
  <div class='container' data-aos='zoom-in'>

    <div
      class='testimonials-slider swiper'
      data-aos='fade-up'
      data-aos-delay='100'
    >
      <div class='swiper-wrapper'>

        <div class='swiper-slide'>
          <div class='testimonial-item'>
            <img
              src='assets/img/team/mark.jpg'
              class='testimonial-img'
              alt='Mark Xiang'
            />
            <h3>Mark Xiang</h3>
            <h4>Chief Accounting Officer</h4>
            <p>
              <i class='bx bxs-quote-alt-left quote-icon-left'></i>
              Accounting does not make corporate earnings or balance sheets more
              volatile. Accounting just increases the transparency of volatility
              in earnings.
              <i class='bx bxs-quote-alt-right quote-icon-right'></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class='swiper-slide'>
          <div class='testimonial-item'>
            <img
              src='assets/img/team/kevin.jpg'
              class='testimonial-img'
              alt='Kevin Zhou'
            />
            <h3>Kevin Zhou</h3>
            <h4>Advisory Board</h4>
            <p>
              <i class='bx bxs-quote-alt-left quote-icon-left'></i>
              Simplicity if the ultimate sophistication.
              <i class='bx bxs-quote-alt-right quote-icon-right'></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class='swiper-slide'>
          <div class='testimonial-item'>
            <img
              src='assets/img/testimonials/testimonials-3.jpg'
              class='testimonial-img'
              alt=''
            />
            <h3>Matt Shao</h3>
            <h4>Chief Technology Officer</h4>
            <p>
              <i class='bx bxs-quote-alt-left quote-icon-left'></i>
              Within IT, I asked my team to question everything they were doing.
              Not because it was wrong or they were doing it incorrectly, but
              because I wanted them to look at our standard processes and think.
              <i class='bx bxs-quote-alt-right quote-icon-right'></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class='swiper-slide'>
          <div class='testimonial-item'>
            <img
              src='assets/img/testimonials/testimonials-4.jpg'
              class='testimonial-img'
              alt=''
            />
            <h3>Mark Xiang</h3>
            <h4>Chief Accounting Officer</h4>
            <p>
              <i class='bx bxs-quote-alt-left quote-icon-left'></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
              export minim fugiat minim velit minim dolor enim duis veniam ipsum
              anim magna sunt elit fore quem dolore labore illum veniam.
              <i class='bx bxs-quote-alt-right quote-icon-right'></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class='swiper-slide'>
          <div class='testimonial-item'>
            <img
              src='assets/img/testimonials/testimonials-5.jpg'
              class='testimonial-img'
              alt=''
            />
            <h3>Kevin Zhou</h3>
            <h4>Advisory Board</h4>
            <p>
              <i class='bx bxs-quote-alt-left quote-icon-left'></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
              veniam tempor noster veniam enim culpa labore duis sunt culpa
              nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
              quid.
              <i class='bx bxs-quote-alt-right quote-icon-right'></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class='swiper-pagination'></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->